/* HTML Elements */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat";
    font-weight: 900;
}

p {
    color: #8f8f8f;
}


.navbar {
    background-color: rgba(237, 244, 224, 0.5);
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 7%;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: background-color 0.2s ease-in-out;
}

.navbar.scrolled {
    background-color: #fda77f !important;
    width: 100%;
    padding: 2% 7% 2%;
    transition: background-color 200ms linear;
}

.navbar.scrolled .nav-link{
    color: #445c3c !important;
    text-transform: uppercase;
}


.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: #234d3a !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* .navbar-brand:hover,
.navbar-brand:focus {
  color: #3c9d9b !important;
  opacity: 1 !important;
} */

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: #234d3a !important;
    transition: all .2s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1);
}

.navbar-toggler-icon {
    float: right !important;
}


/* HEADER SECTION */

.header-section {
    padding-top: 1px !important;
}

.trans--grow {
    -webkit-transition: width 1s ease-out;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s ease-out;
    width: 0%;
}

.grow {
    width: 100%;
}

.divider {
    border: 1px solid #234d3a;
    border-radius: 5px;
}


.colored-section {
    background: rgba(237, 244, 224, 0.5);
    padding: 3% 7% 15%;
    text-align: left;
}

.heading {
    padding-top: 50px;
}

.big-heading {
    width: 86.9%;
    height: 52.5%;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    font-size: 55px;
    color: #234d3a;
    padding: 95px 0;
}


.big-heading span {
    text-decoration: underline;
    text-decoration-color: #49912E;
    transition: all .2s ease-in-out;
}

.big-heading-right span {
    text-decoration: underline;
    text-decoration-color: #49912E;
    transition: all .2s ease-in-out;
}

.big-heading span:hover {
    color: #49912E;
    transform: scale(1.1);
}

.big-heading-right span:hover {
    color: #49912E;
    transform: scale(1.1);
}

.call-button {
    position: relative;
    top: 110px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #234d3a;
    transition: all .2s ease-in-out;
}

.call-button:hover {
    transform: scale(1.1);
    background-color: #234d3a;
}

.call-button i {
    margin-right: 8px;
}

.title-image {
    width: 101.5%;
    padding-top: 10px;
    border-radius: 120px;
    /* position: absolute; */
    /* margin-top: 70px; */
    margin: 30px 0;
}

.statement1{
    position: relative;
    padding: 7% 15% 1% 15%;
    background: #ffffff;
    width: 80%;

}

.statement2{
    position: relative;
    padding: 1% 15% 1% 15%;
    background: #ffffff;
    width: 80%;
}

.top-half{
    background: rgba(237, 244, 224, 0.5);
}

.bottom-half{
    background: rgba(201, 217, 158, 0.9);
}

.two-halves{
    /* background: linear-gradient(90deg, #b3cb8e 25%, #74845a 25%); */
    background: rgba(201, 217, 158, 0.9);
}

.product-image {
    width: 398px;
    height: 220px;
    position: relative;
    top: 110px;
    left: 80px;
    z-index: 1;
}

article {
    text-indent: 3em;
    width: 512px;
    height: 255px;
    padding: 127px 0;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
}

